
<div>
  <p>Treinador português fez história no futebol brasileiro antes de resolver voltar para o Benfica

    Com pouco mais de um ano de trabalho no comando do Flamengo, Jorge Jesus quebrou recordes e escreveu um capítulo importante na história do clube. Após realizar campanha inédita e histórica no Campeonato Brasileiro, além da conquista da Libertadores após 38 anos de jejum, o português é unanimidade no Brasil, totalizando 43 vitórias, 10 empates e apenas quatro derrotas desde que assumiu o time carioca.</p>

</div>

<img src="assets/img/jesus.jpg" alt="">
